@font-face {
  font-family: 'Cerebri Sans';
  src: url('./fonts/cerebrisans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('./fonts/cerebrisans-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('./fonts/cerebrisans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes slideTop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

* {
    font-family: "Cerebri Sans", sans-serif !important;
}

html, body {
    scroll-behavior: smooth;
}

#nav {
  width: 0;
}

.sidebar {
  background: #3E688F;
  padding-top: 15px;
  transition: 0.5s;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 10;
  overflow-x: hidden;
  top: 0;
  left: 0;
  text-align: right;
}

.sidebar a {
  color: #EEEEEE;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  display: block;
  margin-top: 10px;
}

.sidebar a:hover {
  color: #7FB5D3;
  margin-right: 30px;
  transition: 0.4s
}

.sidebar a.close {
  position: absolute;
  top: 0;
  padding-left: 10px;
}

.open {
  color: #3E688F;
  cursor: pointer;
}

.open:hover {
  color: #7FB5D3;
}

#nav-main {
  padding-top: 20px;
  padding-left: 30px;
  transition: margin-left .5s;
  position: fixed;
  z-index: 10;
}

a {
  color: #3E688F;
  text-decoration: none;
}

a:hover {
  color: #EE7989;
}

a.light_blue {
  color: #7FB5D3;
}

a.coral {
  color: #EE7989;
}

a.arrow_down {
  color: #7FB5D3;
  margin-left: 50%;
  margin-right: 50%;
}

a.arrow_down:hover {
  color: #3E688F;
}

#landing {
  height: 100vh;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

#landing .landing_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing .landing_text h1 {
  font-size: 36px;
  font-weight: 600;
  color: #333333;
}

#landing .landing_text p {
  font-size: 20px;
  font-weight: 450;
  color: #3E688F; 
  line-height: 1.5;
}

#intro_segment {
  z-index: 0;
  height: 100vh;
}

#proj_segment {
  z-index: 0;
  height: auto;
  min-height: 100%;
  position: relative;
  margin-bottom: 10%;
}

#forum {
  z-index: 0;
  height: auto;
  min-height: 100%;
  position: relative;
  margin-bottom: 10%;
}

#forum .box p {
  font-size: 15px;
  color: #B3B3B3;
  padding: 0 20px 20px;
  margin-top: -15px;
}

#forum .box h3 {
  font-size: 18px;
  color: #383838;
  font-weight: 500;
  padding: 20px 20px 0;
}

#forum .segment_text {
  padding-top: 130px;
  margin-left: 25%;
  margin-right: 25%;
}

#forum .segment_text .box {
  margin-top: 20px;
  background-color: #EEEEEE;
  border-radius: 10px;
  font-weight: 500;
}

#forum .segment_text h1 {
  font-size: 28px;
  font-weight: 600;
  color: #3E688F;
}

#forum .segment_text h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 2px;
  color: #383838;
}

#forum .inner-box p, #forum .reply-box p {
  font-size: 15px;
  color: #383838;
  font-weight: 400;
}

#forum .inner-box {
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  /* border-radius: 10px; */
}

#forum .reply-box {
  margin-top: 20px;
  background-color: #EEEEEE;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 10px;
  font-weight: 500;
}

#forum #reply-form {
  height: 190px;
}

#forum .reply-box h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #383838;
  font-weight: 500;
}

#forum .reply-box a, #forum .box a {
  color: #EE7989;
}

#forum .reply-box a:hover, #forum .box a:hover {
  color: #EEA479;
}

#forum a.collapsible {
  font-weight: 600;
  font-size: 20px;
  color: #EEA479;
  cursor: pointer;
}

#forum a.collapsible:hover {
  color: #EE7989;
}

#forum .replies {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  margin-left: 50px;
}

#forum .new-comment {
  margin-top: 30px;
  padding: 3%;
  background-color: #EEEEEE;
  border-radius: 10px;
  font-weight: 500;
  height: 200px;
}

#forum .new-comment label, #forum .reply-box label {
  font-size: 15px;
  color: #383838;
  padding: 20px 0 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 20%;
}

#forum .new-comment input, #forum .reply-box input {
  border: 1px solid #B3B3B3;
  border-radius: 4px;
  padding: 6px;
  float: right;
  width: 60%;
}

#forum .new-comment input:focus, #forum .reply-box input:focus {
  border: 1px solid #7FB5D3;
}

#forum .new-comment input[type=textarea], #forum .reply-box input[type=textarea] {
  height: 50px;
}

#forum .new-comment input[type=submit], #forum .reply-box input[type=submit] {
  margin-top: 20px;
  width: 100%;
  background-color: #B3B3B3;
  cursor: pointer;
}

#forum .new-comment input[type=submit]:focus, #forum .reply-box input[type=submit]:focus {
  background-color: #7FB5D3;
}

#blog {
  z-index: 0;
  height: auto;
  min-height: 100%;
  position: relative;
  margin-bottom: 10%;
}

#blog h1 {
  font-size: 36px;
  font-weight: 600;
  color: #3E688F;
}

#blog .segment_text {
  /* position: absolute; */
  padding-top: 130px;
  margin-left: 25%;
  margin-right: 25%;
}

#blog .segment_text .box {
  margin-top: 20px;
  background-color: #EEEEEE;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 10px;
}

#blog .segment_text p {
  font-size: 18px;
  color: #383838; 
  line-height: 1.5;
}

#blog .segment_text h2 {
  padding-top: 1%;
  font-size: 23px;
  font-weight: 600;
  color: #EE7989;
}

#blog .segment_text h3 {
  font-size: 16px;
  font-weight: 450;
  color: #B3B3B3;
}

#blog .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

#blog a.collapsible {
  background: none;
  outline: none;
  width: 100%;
  cursor: pointer;

  font-size: 23px;
  font-weight: 600;
  color: #EE7989;
}

#blog .post {
  margin-top: 3%;
}

#blog .collapsible:after {
  content: '\02795';
  font-size: 12px;
  float: right;
}

#blog .collapsible.active {
  color: #7FB5D3;
}

#blog .collapsible.active:after {
  content: "\2796";
}

#blog .content p {
  font-size: 15px;
  color: #383838; 
  line-height: 1.5;
  font-weight: 400;
}

#segment {
  z-index: 0;
}

#segment .segment_text {
  padding-top: 130px;
  margin-left: 25%;
  margin-right: 25%;
}

#segment .segment_text .box {
  margin-top: 20px;
  background-color: #EEEEEE;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 10px;
}

#segment .centered {
    text-align: center;
}

#segment ul {
  padding-left: 0;
  list-style-type: none;
  line-height: 1.5;
}

#segment .segment_text p {
  font-size: 18px;
  color: #383838; 
  line-height: 1.5;
}

#segment .segment_text h1 {
  font-size: 28px;
  font-weight: 600;
  color: #3E688F;
}

#segment .segment_text h2 {
  padding-top: 1%;
  font-size: 23px;
  font-weight: 600;
  color: #EE7989;
}

#segment .segment_text h3 {
  font-size: 16px;
  font-weight: 450;
  margin-top: -15px;
  color: #B3B3B3;
}

#segment .space {
  height: 20px;
}

#segment .arrow_down_container {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  padding-top: 20%;
}

#bluetext {
  color: #3E688F;
  font-weight: 600;
}

.slideshow-wrapper {
  margin-top: 15px;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.slides img {
  width: 100%;
}

.trans {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.next, .previous {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #EEEEEE;
}

.next:hover, .previous:hover {
  color: #7FB5D3;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-caption {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
  padding: 20px 20px;
  bottom: 10px;
  position: absolute;
  text-align: center;
  background-color: rgb(238, 238, 238, 0.7);
  border-radius: 10px;
  width: 80%;
  margin-left: 7%;
}

.slideshow-index {
  text-align: center;
}

.slideshow-index .index {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 12px;
  background-color: #3E688F;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.slideshow-wrapper .active, .index:hover {
  background-color: #7FB5D3;
}

#top-button {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  cursor: pointer;
  padding: 10px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 11;
  color: #3E688F;
}

#top-button:hover {
  color:#7FB5D3;
}

#back-button {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  left: 20px;
  z-index: 11;
  color: #3E688F;
  display: block;
}

#back-button:hover {
  color:#7FB5D3;
}

#me-modal {
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(127, 181, 211, 0.4);
}

#me-modal .modal-content {
  background-color: #EEEEEE;
  padding: 30px;
  margin: 10% auto;
  width: 50%;
  border-radius: 10px;
  animation-name: slideTop;
  animation-duration: 1s;
}

#me-modal .modal-content img {
  width: 100%;
}

#me-modal a.close-modal-button {
  color: #3E688F;
  float: right;
  cursor: pointer;
}

a.close-modal-button:hover {
  color:#7FB5D3;
}

#footer {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  padding-bottom: 15px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background:#EEEEEE;
}

